@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.row {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.card {
    border: none;
}

.navbar-nav {
    margin-left: auto;
}