@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


html * {
    font-family: 'Poppins', sans-serif;
}
nav {
    font-weight: 500;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.row {
    font-weight: 400;
}

.card {
    border: none;
}

.navbar-nav {
    margin-left: auto;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    /* text-decoration: inherit; */
}