@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


html * {
    font-family: 'Poppins', sans-serif;
}

.text-justify {
    text-indent: 2rem;
    text-align: justify;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
  	background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
  	background: rgba(0,0,0,.9);
}
nav {
    font-weight: 500;
    box-shadow: 0px 1px 10px #000;
    border-bottom: 1px solid black;
    background-color: black;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.row {
    font-weight: 400;
}

.card {
    border: none;
}

.navbar-nav {
    margin-left: auto;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    /* text-decoration: inherit; */
}


.img-zoom {
    transition: 0.6s;
}

.img-zoom:hover {
    transform: scale(1.2);
}

.img-zoom-small {
    transition: 0.6s;
}

.img-zoom-small:hover {
    transform: scale(1.1);
}

.anim-up {
    transition: 1s;
}

.anim-up:hover {
    transform: translateY(-10px);
}

.fade-in {
    animation: fade 2s ease;
}

.anchor-offset {
    display: block;
    position: relative;
    top: -9rem;
    visibility: hidden;
}

.border-none {
    border: none;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}